/* ====================================
// css variables
// ==================================== */
@import "bootstrap/scss/bootstrap-grid";
@font-face {
  font-family: "Katari";
  src: url("../fonts/Katari.woff") format("woff");
}
@font-face {
  font-family: "Harbour";
  src: url("../fonts/Harbour\ Regular.woff") format("woff");
}

/* ====================================
// rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  background-color: black;
}

.titre {
  position: relative;
  height: 100vw;
  display: flex;
  justify-content: center;
  background-color: #ffbfd1;
}

.para-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
}

.para-title-logo {
  margin-top: 400px;
  max-height: 200px;
  object-fit: cover;
  z-index: 100;
}

.para-title-ysa,
.para-title-fore,
.para-title-mid {
  z-index: 1000;
}

.wrapper-chara {
  position: relative;
  z-index: 100000;
  background-color: black;
}

.roi {
  position: relative;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  height: 50vw;
  overflow: hidden;
}

.para-roi {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.para-ysa-bg {
  overflow: hidden;
  object-fit: cover;
}

.para-roi-bg {
  overflow: hidden;
  object-fit: cover;
}

.ysa {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50vw;
  overflow: hidden;
}

.para-ysa {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.para-ysa-gd-t {
  padding-top: 30px;
  rotate: 180deg;
}

.epee {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50vw;
  overflow: hidden;
  padding-bottom: 900px;
  margin-bottom: 300px;
}

.para-epee {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.h-100 {
  height: 100vh;
}

/* slider mask */
.slider-mask {
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
}

/* slider track */
.slider-track {
  height: 100vh;
  display: inline-flex;
  border-radius: 5px;
}

/* slider item (screen) */
.slider-track .screen-1 {
  width: calc(150vw - 30px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  // border: 5px solid blue;
  background-color: white;
  object-fit: fill;
}

.slider-track .screen-2 {
  width: calc(190vw - 30px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  // border: 5px solid blue;
  background-color: white;
  object-fit: fill;
}

.slider-track .screen-3 {
  width: calc(190vw - 30px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  // border: 5px solid blue;
  background-color: white;
  object-fit: fill;
}

.slider-track .screen-4 {
  width: calc(150vw - 30px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  // border: 5px solid blue;
  background-color: white;
  object-fit: fill;
}

.screen-bg {
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.screen-1 .chara-ysa {
  position: absolute;
  height: 120vh;
}

.screen-1 .ysa-spacer {
  left: 10%;
  z-index: 7;
}

.screen-1 .ysa-tree-l {
  left: 0;
  z-index: 5;
}

.screen-1 .ysa-horse {
  left: 1%;
  height: 90vh;
  bottom: 0;
  z-index: 8;
}

.screen-1 .ysa-txt {
  height: 35%;
  left: 9%;
  z-index: 1000;
}

.screen-2 .chara-roi {
  position: absolute;
  height: 100vh;
}

.screen-2 .roi-castle {
  left: 19%;
  z-index: 4;
}

.screen-2 .roi-portail {
  left: 23%;
  z-index: 3;
  top: -1%;
}

.screen-2 .roi-mad {
  left: 22.3%;
  z-index: 5;
  height: 64vh;
  bottom: 0;
}

.screen-2 .roi-spacer {
  z-index: 6;
  left: 39%;
}

.screen-2 .roi-txt {
  height: 35%;
  left: 34.4%;
  z-index: 1000;
}

.screen-3 .chara-baron {
  position: absolute;
  height: 100vh;
}

.screen-3 .baron-claude {
  height: 90vh;
  left: 52%;
  bottom: 0;
}

.screen-3 .baron-ville {
  left: 44%;
  width: 25%;
}

.screen-3 .baron-mad {
  height: 90vh;
  bottom: 0;
  left: 48%;
  z-index: 5;
}

.screen-3 .baron-txt {
  height: 34%;
  left: 58%;
  z-index: 1000;
}

.screen-4 .chara-epee {
  position: absolute;
  height: 100vh;
}

.screen-4 .epee-spacer {
  left: 64%;
  z-index: 10;
}

.screen-4 .epee-mad {
  left: 70%;
  height: 100vh;
  z-index: 9;
}

.screen-4 .epee-portail {
  left: 69%;
  height: 100vh;
  z-index: 8;
}

.screen-4 .epee-txt {
  height: 37%;
  left: 82%;
  z-index: 1000;
}

.buy-container {
  height: 100vh;
}

.buy-logo {
  height: 20%;
  margin-top: 360px;
  padding-bottom: 30px;
}

.buy-title {
  color: white;
  font-size: 22px;
  padding-bottom: 18px;
  font-family: Harbour;
}

.buy-txt {
  color: white;
  font-size: 18px;
  padding-bottom: 50px;
  font-family: Katari;
}

.buy-button {
  color: white;
  padding: 12px 22px;
  border: white solid 1px;
  font-size: 22px;
  text-decoration: none;
  font-family: Harbour;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: white;
  color: black;
}

.buy-livre {
  margin-top: 150px;
}

footer {
  border-top: white solid 1px;
  margin-top: 150px;
}

.footer-logo {
  width: 20%;
  padding-bottom: 40px;
  padding-top: 70px;
}

.footer-links {
  font-family: Katari;
  font-size: 20px;
  color: #404040;
  display: block;
  text-decoration: none;
}

.footer-link-1 {
  padding-bottom: 10px;
}

.footer-link-2 {
  padding-bottom: 80px;
}

.footer-link-news {
  color: white;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-bottom: 58px;
}

.social-cont {
  display: flex;
  justify-content: space-between;
}

.footer-politics-txt {
  position: absolute;
  left: 40%;
  font-family: Katari;
  font-size: 20px;
  color: #7d7d7d;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
