/* ====================================
// css variables
// ==================================== */
@import "bootstrap/scss/bootstrap-grid";

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  background-color: black;
}

.titre {
  position: relative;
  height: 100vw;
  display: flex;
  justify-content: center;
  background-color: #ffbfd1;
}

// section ::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
// }

.para-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.para-title-logo {
  margin-top: 400px;
  max-height: 200px;
  object-fit: cover;
  z-index: 100;
}

.para-title-ysa,
.para-title-fore,
.para-title-mid {
  z-index: 1000;
}

.wrapper-chara {
  position: relative;
  z-index: 100000;
  height: 4000px;
  background-color: black;
}

.roi {
  position: relative;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  height: 50vw;
}

.para-roi {
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.ysa {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50vw;
  overflow: hidden;
}

.para-ysa {
  margin-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.para-ysa-gd-t {
  padding-top: 30px;
  rotate: 180deg;
}

.para-ysa-bg {
  overflow: hidden;
  object-fit: cover;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
