/* ====================================
// css variables
// ==================================== */
@import "bootstrap/scss/bootstrap-grid";

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  background-color: #ffbfd1;
}

section {
  position: relative;
  height: 100vw;
  display: flex;
  justify-content: center;
}

// section ::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
// }

.para-title {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow: hidden;
}

.para-title-logo {
  margin-top: 400px;
  max-height: 200px;
  object-fit: cover;
  z-index: 100;
}

.para-title-ysa,
.para-title-fore,
.para-title-mid {
  z-index: 1000;
}

.test {
  position: relative;
  z-index: 100000;
  height: 4000px;
  background-color: black;
}

.roi {
  margin: 130 80px;
  position: relative;
  height: 100vw;
  display: flex;
  justify-content: center;
}

.para-roi {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  overflow: hidden;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */
